<!-- ---- Add product name here to create a new product ------ -->
<% const productType="floral-water" ; const products=[ "chamomile" , "kewra" , "Khus" , "linden" , "linden blossom"
    , "mogra" , "neroli" , "orange blossom" , "osmanthus" , "rose otto" , "rose water" , "rosemary" ]; %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Floral Water</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>
        <!-- Website Header -->
        <%- include("header"); %>
            <!-- Product catalogue -->
            <main id="product-catalogue">
                <div class="main-container">
                    <div class="container-fluid">
                        <div class="content-box">
                            <h1>Floral Water Manufacturer & Exporter In India</h1>
                            <p>Eucalyptus Flower Water includes all the same plant essence elements like essential oil,
                                has all the valuable attributes and sweet odor of oil that is essential, but can be
                                used as is with no dilution. The water is excellent for the usage as a skin toner,
                                or into add glow and softly scent the hair. A two or three on the face refreshes,
                                tones controls and skin breakouts. Lavender Flower Water occasionally includes a
                                small quantity of Ethyl alcohol Particularly when the intended use is as a vanilla
                                cologne. Ansham Company are the most popular rose water, kewra water manufacturer &
                                Exporter in India and ensure that we provide the best quality product in the market.
                                We have 100% consumer satisfaction.
                            </p>
                        </div>
                        <div class="prodcut-container">
                            <% products.forEach(function(product){ %>
                                <div class="product">
                                    <div class="img-box">
                                        <img src="images/<%= productType %>/<%= product %>.jpg" alt="<%= product %>">
                                    </div>
                                    <div class="content-box">
                                        <%var length=product.length; var firstLetter=product.charAt(0).toUpperCase();
                                            var newProduct=firstLetter + product.slice(1,length);%>
                                            <h2 class="title">
                                                <%= newProduct %>
                                            </h2>
                                    </div>
                                    <div class="button">
                                        <button
                                            onclick="modalBox('<%= productType %>','<%= product %>')">Readmore</button>
                                    </div>
                                </div>
                                <%});%>
                        </div>
                    </div>
                </div>
            </main>
            <!-- modal popup Box -->
            <%- include("modal-box"); %>
                <!-- Footer -->
                <%- include("footer"); %>
                    <!-- javascript -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script src="javascript/index.js"></script>
    </body>

    </html>